// ---------------------------------------
// CHICAGO LABEL
// ---------------------------------------

%triangle{
	display:block;
	width: $barcode_bar_width;
	height: $barcode_bar_width;	
	background-size:cover;
}

%triangle--up{
	@extend %triangle;
	background: transparent url(../img/triangle-up.svg) center center;
}

%triangle--down{
	@extend %triangle;	
	background: transparent url(../img/triangle-down.svg) center center;

}

.chi-label{
	@include sans-serif-text(14px, 1.3em, bold);
	transform: translate(#{$barcode_bar_width * -1}, 0); // *Centers-ish* the pointer over the bar (bars are translated, too)

	position:absolute;
	bottom: $barcode_bar_height;

	&__kicker{
		display:block;
		margin: 0;
	}
	&__number{
		font-size: 18px;
		display:block;
		// padding-bottom: $label-pointer-height;
		margin: 0 0 3px 0;
	}
	&__pointer{
		@extend %triangle--down;
		margin: 0 auto 0 #{$barcode_bar_width / 2}
	}
}

.chi-label--text-right{ 
	text-align:right; 
	transform:translate(calc(-100% + #{$barcode_bar_width}), 0); // Shifts the label to the left side while scooting it back over the *center* of the bar (like the other labels)

	.chi-label__pointer{
		margin: 0 #{$barcode_bar_width / 2} 0 auto;
	}

}

// ---------------------------------------
// BOTTOM LABELING
// ---------------------------------------


.stat__bottom-labels{
	display:flex; // To easily push the min and max labels to the edges
	justify-content:space-between;
	flex-wrap: nowrap;
	position: relative
}

%label-pointer{
	content: "\25B4";
	font: 24px/#{$label-pointer-height} 'Arial', sans-serif;
	display:block;

	position:absolute;
	top:#{$label-pointer-height / -1};
	transform:translate(-50%, 0);
}

.label{
	@include agate();	
	padding-top:$barcode_bar_width;
	position:relative;

	&--area{
		@include sans-serif
	}

	&--min{}
	&--max{
		text-align: right;
	}

	&--median{
		position:absolute;
		top:0;
		text-align:center;
		transform:translate(-50%, 0);
		padding: 0;

		.label__median-pointer{
			@extend %triangle--up;
			margin: 0 auto;
		}

		// &:before{
		// 	@extend %label-pointer;
		// 	left:50%; // This centers the pointer over the text
		// }
	}
}

