

.stats{}

// ---------------------------------------
// BASIC BARCODE CONSTRUCTION
// ---------------------------------------

.trb_mainContent .stat{

	// spacing
	margin: 0 0 $grid-gap 0;
	padding: 0 0 $grid-gap 0;
	border-bottom: 1px solid $trib-gray4;
	box-sizing:border-box;

	&__inner{
		// This contains the labeling and charting which need to be sidesaddle
		display:flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	
	&__label{
		// @include sans-serif();
		// font-weight: bold;
		margin:0;
		flex-basis: 100%;

		text-align: center;
		margin: 0 0 10px 0;
	}


	&__label-text{
		@include label7();
		margin: 0;
	}

	&__sublabel-text, &__subsublabel-text{
		@include sans-serif();
		font-style: italic;
		margin: 0;
	}

	&__chart{
		// flex: 1
		flex-basis: 100%;
	}

	&__why-important{
		margin: $grid-gap 0;

		p{
			width: auto !important; // Because of stupid NGUX
		}
	}

	&__why-important-label{
		@include sans-serif();
		font-weight: bold;
		text-align: center;
	}
}

// ---------------------------------------
// Make the bars into a barcode
// ---------------------------------------

%barcode-bar{
	background: rgba($barcode_bar_color, $barcode_bar_color_opacity);
	width: $barcode_bar_width;
	height: $barcode_bar_height;

	position:absolute;
	top: 0;
	transform:translate(-50%, 0);
	transition: background 150ms ease;
}

.stat__bars{
	position:relative;
	background: #eee;
	height: $barcode_bar_height ;
	
	padding: 0 0 0 0;
	margin: #{$grid-gap * 1.5} 0 0 0;

	box-sizing: border-box;
	border-left: 1px solid black;
	border-right: 1px solid black;

	.stat__bar{
		@extend %barcode-bar;
	}
}


@media all and (min-width: $desktop-min-width){
	.trb_mainContent  .stat{ 
		text-align: left;
		// margin:0; 
	}

	.trb_mainContent  .stat{

		&__inner{flex-wrap: nowrap;}

		&__label{
			flex-basis: 200px;
			margin: 0 #{$grid-gap} 0 0;
		}

		&__chart{
			flex: 1;
			flex-basis: 100%;
		}

	}
}