@import 'base-variables';
// SPACING
$grid-gap: 30px;

// BREAKPOINTS
$desktop-min-width:840px;
$tablet-min-width:420px;

// BARCODES
$barcode_bar_color_opacity: .4;
$barcode_bar_color: rgba($trib-blue3, $barcode_bar_color_opacity);
$barcode_bar_color_highlight: $trib-blue1;
$barcode_bar_color_chicago: $trib-blue2;

$barcode_bar_width: 8px;
$barcode_bar_height: $grid-gap * 2;


// BARCODE BOTTOM LABELS
$label-pointer-height: 5px;

$bids:(
	"nyc",
	"new",
	"mc",
	"nv",
	"dc",
	"bos",
	"chi",
	"phi",
	"pit",
	"la",
	"den",
	"mia",
	"atl",
	"aus",
	"col",
	"ral",
	"nas",
	"dal",
	"ind",
	"tor"
);


// MIXINS
@import 'base-mixins';

@mixin text_stroke(
	$text-color:black, 
	$stroke-color:white, 
	$stroke-width:1px, 
	$stroke-opacity:1,
	$stroke-blur:0){
	  

  color:$text-color;
  text-shadow:
	#{0-$stroke-width} #{0-$stroke-width} $stroke-blur rgba($stroke-color, $stroke-opacity),  
	$stroke-width #{0-$stroke-width} $stroke-blur rgba($stroke-color, $stroke-opacity),
	#{0-$stroke-width} $stroke-width $stroke-blur rgba($stroke-color, $stroke-opacity),
	$stroke-width $stroke-width $stroke-blur rgba($stroke-color, $stroke-opacity);
}


// PARTIALS
@import 'stat';
@import 'stat-chart-labeling';

.trb_mainContent {
	
	#highlight{
		width: 100%;
		max-width: 320px;
		margin: 0 auto $grid-gap auto;
		display:block;
		text-align: center;

	}

	.graphic-wrapper{
		max-width: 650px;
		margin: 0 auto;
	}

	.subhead{
		@include label5();
		text-align: center;
	}

	.legend-wrapper{
		text-align: center;
	}

	.legend{
		@include trib-legend();
		display: inline-block;

		dd { line-height: 1.5em; }

		&__bid{
			@include trib-legend__box(0);
			width: $barcode_bar_width;
			height: $barcode_bar_height / 3;
			background-color: $barcode_bar_color;

			&--chi{
				background-color: $barcode_bar_color_chicago;				
			}
		}
	}

	.credits p{
		@include agate();
	}
}

@media all and (min-width: $tablet-min-width){
	// ONLY CHANGES FOR DESKTOPS
}


@media all and (min-width: $desktop-min-width){
	// ONLY CHANGES FOR DESKTOPS
}