{#
 # Template for an HTML story published to P2P.
 #
 # If you want to publish multiple HTML stories, copy, or inherit from
 # this template.
 #
 #}
{% block content %}
<div class='graphic-wrapper'>
  <section class='intro'>
    {{ intro|markdown }}
  </section>
  <section class='stats' data-now-showing="chi">
    <h2 class='subhead'>{{ subhead|process_text }}</h2>
    <select id='highlight'>
      {% for city in stats|sort(attribute="label") %}
          <option {% if city.id|lower == "chi" %} selected {% endif %} value="{{ city.id|lower }}">{{ city.label }}</option>
      {% endfor %}
    </select>
  	{% for stat in stats_control[1:]|sort(attribute="display_order") if stat.display and stat.display|int == 1%}
  		{% set s = stat %}
  		{% include "subtemplates/_stat.html" %}
  	{% endfor %}
  </section>
  <section class='credits'>
    {{ note|markdown }}
    {{ source|markdown }}
    {{ tag|markdown }}
  </section>
</div>
{% endblock content %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
{# <script src="//{{ ROOT_URL }}/js/vendor.min.js"></script> #}
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
<script src="//{{ ROOT_URL }}/js/app.min.js"></script>
<script>
(function(document) {
  var CSS = [
    "//{{ ROOT_URL }}/css/styles.css"
  ];
  CSS.forEach(function(url) {
    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', url);
    document.head.appendChild(link);
  });
})(document);
</script>
{% endblock scripts %}
